header {
    background: #a7a7a7;
    border: 2px solid #000;
}
.navbar-brand, .nav-link {
    color: #fff;
}

.navbar-brand:hover, .nav-link:hover, .navbar .nav-link.active {
    color: #e74c3c;
}

.nav-link {
    margin: 2vh;
}

article {
    background-color: #a7a7a7;
}

h3 {
    color: #fff;
}


@media screen and (max-width: 991px){

    .nav-link {
        text-align: center;
    }
    .invisible {
        visibility: visible !important;
    }
}
@media screen and (min-width: 1199px){
    article {
        width: 32% !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    #art1, #art2 {
        width: 49% !important;
    }
    #art3 {
        width: 99% !important;
    }
}